<app-left-menu-res></app-left-menu-res>
<app-upper-panel></app-upper-panel>
<div class="about-us-text">Jesteśmy grupą studentów, która utworzyła aplikację “Nasz Polityk” w ramach projektu inżynierskiego odbywającego się na Uniwersytecie Adama Mickiewicza na Wydziale Matematyki i Informatyki w Poznaniu. Nasz zespół składa się z trzech osób, które wspólnie połączyły siły, aby stworzyć serwis, który będzie swego rodzaju portalem “w pigułce” oferującym najlepsze funkcjonalności (dotyczące świata polityki) konkurencyjnych portali dostępnych dziś na rynku.</div>
<div class="underline"></div>

