.about-us-text{
  position: absolute;
  width: 1347px;
  height: 233px;
  left: 441px;
  top: 315px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #06052D;
}

.about-us-text::first-letter{
  font-weight: bold;
  font-size: 64px;
}

.underline{
  position: absolute;
  width: 754px;
  height: 0px;
  left: 738px;
  top: 553px;

  /* Główny zielony akcent */

  border: 1px solid #74BEC1;
}

.logout-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.profile-icon {
  position: absolute;
  right: 60px;
  top: 3px;
  cursor: pointer;
}

.vertical-little-pipe {
  position: absolute;
  top: 9px;
  right: 40px;
  font-size: 26px;
  color: #afb2b6;
}
