<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
</head>
<div class="sidebar">
  <a class="" href="/main"><span class="np-text">np</span><span class="logo-pipe">|</span><span
    class="politician-text-logo">nasz polityk</span></a>
<!--  <form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
<!--  <input disabled class="politician-input" placeholder="Wyszukaj polityka..." ngModel-->
<!--         id="search-politician-menu" name="search-politician-menu" [(ngModel)]="searchPhrase" #searchText="ngModel">-->

<!--  </form>-->
  <a routerLink="/main"><mat-icon class="icon-display">home</mat-icon><span class="main-page">strona główna</span></a>
  <a routerLink="/top-ten"><mat-icon class="icon-display">trending_up</mat-icon><span class="main-page">top 10 miesiąca</span></a>
  <a href="observed"><mat-icon class="icon-display">stars</mat-icon><span class="main-page">obserwowani</span></a>
  <a href="notification"><mat-icon class="icon-display">feedback</mat-icon><span
    class="main-page">powiadomienia</span></a>
  <a href="about-us"><mat-icon class="icon-display">info</mat-icon><span class="main-page about-us">o nas</span></a>
  <a >
    <div class="footer-container">
      <div class="footer-content"><span class="np-footer">np</span><span class="pipe-footer">|</span><span
        class="politician-footer">nasz polityk</span>
        <div><span class="credentials-1">© 2021 Nasz Polityk</span>
          <div><span class="credentials-2">Wszystkie prawa zastrzeżone.</span></div>
        </div>
      </div>
    </div>
  </a>
</div>
